.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #3f8390;
    padding: 5px 10px;
    align-items: center;
    color: #fff;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.logo{
    font-size: 24px;
    font-weight:bold ;
}

.nav-links{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.nav-links a:hover{
    color: #bfbcbc;
}